.home-page-container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 20px;
}
.page-container-dark {
  background-color: #161625;
}
.page-container-light {
  background-color: #fff;
}
.btn-1 {
  background-color: transparent;
  border: 0px;
}
.input-container {
  align-self: center;
  max-width: 824px;
  width: 100%;
  height: 72px;
  background-color: #bebfc214;
  box-shadow: 0% 8% #171f4614;
  filter: blur(0px);
  padding: 10px;
  display: flex;
  flex-shrink: 0;
  top: 144px;
  margin-top: 23px;
  left: 308px;
  align-items: center;
  padding-left: 20px;
}

.search-input-icon {
  width: 24px;
  height: 24px;
  color: #94a3b8;
  background-color: transparent;
  border: 0px;
}

.search-input {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-left: 10px;
  width: 100%;
  color: #94a3b8;
  outline: none;
  background-color: transparent;
  border: 0px;
}

.searchs {
  width: 100%;
  max-width: 824px;
  min-height: 256px;
  max-height: 800px;
  overflow: auto;
  align-self: center;
  margin: 10px 0px 10px 0px;
  flex-shrink: 0;
}

.route-link {
  cursor: pointer;
  text-decoration: none;
}

.state-list-container {
  display: flex;
  justify-content: space-between;
}

.state-list-name {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #64748b;
}

.home-footer {
  align-self: flex-end;
}

.state-list-btn {
  background-color: #1cd4d429;
  width: 60px;
  margin-right: 5px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-self: center;
  cursor: pointer;
}

.state-code {
  color: #facc15;
  font-family: 'HK Grotesk';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  align-self: center;
}

.state-arrow {
  width: 20px;
  height: 20px;
  color: #facc15;
  margin-left: 4px;
  align-self: center;
}

.CovidTable {
  margin-top: 40px;
  width: 95%;
  border-radius: 5px;
  overflow-x: hidden;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.CovidTable-dark {
  background-color: #161625;
  border: 1px solid #bebcbc;
}

.CovidTable-light {
  background-color: #bebcbc;
  border: 1px solid #161625;
}

.covHeading-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  align-self: center;
  padding: 5px;
  border-bottom: 0px;
  padding-left: 4%;
  padding-right: 10px;
}

.mobile-covHeading-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: center;
  padding: 2px;
  padding-left: 0px;
  padding-right: 10px;
}

.states {
  display: flex;
  align-items: center;
  width: 200px;
}

.state-stats-list {
  list-style-type: none;
}

.tables-list {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: start;
  align-self: center;
  color: #ffffff;
  list-style-type: none;
  width: 12%;
  margin: 0px 8px 0px 6px;
}
.tables-lists {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  align-self: center;
  list-style-type: none;
  width: 200px;
  margin: 0px 8px 0px 6px;
}

.states {
  display: flex;
}

.items-in-column {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}

.generic-state {
  width: 30px;
  height: 30px;
  color: #565657;
  padding-left: 6px;
  align-self: center;
  cursor: pointer;
}

.seperator {
  width: 100%;
  font-size: 10px;
}

.dark-b {
  color: #1e1e30;
}
.light-b {
  color: #94a3b8;
}

.tconfirmed {
  color: #ff073a;
}

.tactive {
  color: #007bff;
}

.trecovered {
  color: #28a745;
}

.loader {
  align-self: center;
  margin-top: 17%;
}

.sccess-section {
  align-self: center;
}

.tabList-container {
  width: 80%;
  height: 142px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  margin: 10px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.tabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabh {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
  font-weight: 500;
}

.total-count {
  font-size: 24px;
  line-height: 24px;
  font-family: 'Roboto';
  font-weight: 500;
}

.confirm {
  color: #ff073a;
}

.active {
  color: #007bff;
}

.recovered {
  color: #28a745;
}

.decease {
  color: #6c757d;
}

.tab-image {
  width: 48px;
  height: 48px;
}

@media (max-width: 1020px) {
  .tabh {
    font-size: 15px;
  }
  .tab-image {
    width: 30px;
    height: 30px;
  }
  .total-count {
    font-size: 18px;
  }
  .items-in-column {
    font-size: 16px;
  }
  .tables-list {
    text-align: center;
  }
  .mobile-covHeading-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .tables-lists {
    width: 200px;
  }
  .input-container {
    width: 70%;
  }
}

@media screen and (max-width: 720px) {
  .home-page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .input-container {
    width: 70%;
    height: 48px;
  }
  .search-input-icon {
    width: 20px;
    height: 20px;
  }
  .search-input {
    font-size: 12px;
    line-height: 16px;
  }
  .tabList-container {
    width: 500px;
    padding: 16px 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 16px auto;
    height: 300px;
  }
  .tabh {
    font-size: 15px;
    line-height: 16px;
  }
  .tab-image {
    width: 30px;
    height: 30px;
  }
  .total-count {
    font-size: 18px;
    line-height: 24px;
  }
  .searchs {
    width: 100%;
    min-height: 120px;
    max-height: 320px;
  }
  .state-list-name {
    font-size: 13px;
  }
  .state-list-btn {
    width: 50px;
    height: 30px;
  }
  .state-code {
    font-size: 12px;
  }
  .state-arrow {
    width: 18px;
    height: 18px;
  }
  .mobile-covHeading-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .covHeading-container {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }
  .CovidTable {
    align-self: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tables-lists {
    width: 200px;
    margin: 4px 0px 4px 0px;
    font-size: 18px;
  }
  .tables-list {
    margin: 4px 0px 4px 0px;
  }
  .loader {
    margin-top: 58%;
  }
  .state-stats-list {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


@media (max-width: 474px){
    .tabList-container, .CovidTable{
      width: 100%;
    }
}